/// Spacing values
///
$spacing: (
  xsmall: 4px,
  small:  8px,
  base:   16px,
  large:  32px,
) !default;

/// Sass function to help the usage of spacing map
///
/// @require {map}      $spacing
/// @param   {string | list} $size - Key from $spacing or px
/// @return  {string} Value from $spacing map
///
@function spacing($size) {
  @return map-get($spacing, $size);
}
