<div class="app">
  <app-main-header></app-main-header>

  <div class="app__container container">
    <div class="app__transaction-input">
      <ui-box [hide]="hideBox">
        <h2 class="app__section-title">Nova transação</h2>

        <ul class="app__form">
          <li class="app__form-item">
            <ui-select-input #itemType title="Tipo de transação" (onValueChange)="updateField('type', $event)">
              <option value="buy">Compra</option>
              <option value="sell">Venda</option>
            </ui-select-input>
          </li>

          <li class="app__form-item">
            <ui-text-input #itemName title="Nome da mercadoria" (onValueChange)="updateField('name', $event)"></ui-text-input>
          </li>

          <li class="app__form-item">
            <ui-text-input
              #itemValue
              [isCurrency]="true"
              title="Valor"
              (onValueChange)="updateField('valueToNumber', $event)"
            ></ui-text-input>
          </li>
        </ul>

        <div class="app__form-button">
          <ui-button (onClick)="addTransaction()">Adicionar transação</ui-button>
        </div>

        <span class="app__incomplete" *ngIf="isIncomplete">Preencha todos os campos</span>
      </ui-box>
    </div>

    <hr class="hide--md">

    <div class="app__transactions">
      <h2 class="app__section-title">Extrato de transações</h2>

      <span class="app__no-transactions" *ngIf="!items.length">Não há transações cadastradas</span>

      <table class="app__table table" *ngIf="items.length">
        <thead class="table__head">
          <tr class="table__row">
            <td class="table__cell"></td>
            <td class="table__cell">Mercadoria</td>
            <td class="table__cell table__cell--center">Valor</td>
          </tr>
        </thead>

        <tbody>
          <tr class="table__row" *ngFor="let item of items">
            <td class="table__cell">
              <ui-icon [name]="getIcon(item)" size="small"></ui-icon>
            </td>

            <td class="table__cell">{{ item.name }}</td>

            <td class="table__cell table__cell--value">
              <ui-currency [value]="item.value"></ui-currency>
            </td>
          </tr>
        </tbody>

        <tfoot class="table__foot">
          <tr class="table__row">
            <td class="table__cell"></td>
            <td class="table__cell">Total</td>
            <td class="table__cell table__cell--value">
              <ui-currency [value]="getTotal()"></ui-currency>
              <span class="table__balance-status">[{{ getProfitStatus() }}]</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
