<div class="app">
  <app-main-header></app-main-header>

  <div class="app__container container">
    <div class="app__transaction-input">
      <ui-box [hide]="hideBox">
        <h2 class="app__section-title">Nova transação</h2>

        <ul class="app__form">
          <li class="app__form-item">
            <ui-select-input title="Tipo de transação" (onValueChange)="onTypeChange($event)">
              <option value="buy">Compra</option>
              <option value="sell">Venda</option>
            </ui-select-input>
          </li>

          <li class="app__form-item">
            <ui-text-input title="Nome da mercadoria" (onValueChange)="onItemNameChange($event)"></ui-text-input>
          </li>

          <li class="app__form-item">
            <ui-text-input title="Valor" (onValueChange)="onItemValueChange($event)"></ui-text-input>
          </li>
        </ul>

        <div class="app__form-button">
          <ui-button>Adicionar transação</ui-button>
        </div>
      </ui-box>
    </div>

    <hr class="hide--md">

    <div class="app__transactions">
      <h2 class="app__section-title">Extrato de transações</h2>

      <table class="app__table table">
        <thead class="table__head">
          <tr class="table__row">
            <td class="table__cell"></td>
            <td class="table__cell">Mercadoria</td>
            <td class="table__cell table__cell--center">Valor</td>
          </tr>
        </thead>

        <tbody>
          <tr class="table__row">
            <td class="table__cell">
              <ui-icon name="plus" size="small"></ui-icon>
            </td>
            <td class="table__cell">Lorem ipsum dolor sit amet consectetur</td>
            <td class="table__cell table__cell--value">
              <ui-currency [value]="12999"></ui-currency>
            </td>
          </tr>

          <tr class="table__row">
            <td class="table__cell">
              <ui-icon name="minus" size="small"></ui-icon>
            </td>
            <td class="table__cell">Lorem ipsum dolor sit amet consectetur</td>
            <td class="table__cell table__cell--value">
              <ui-currency [value]="12999"></ui-currency>
            </td>
          </tr>

          <tr class="table__row">
            <td class="table__cell">
              <ui-icon name="plus" size="small"></ui-icon>
            </td>
            <td class="table__cell">Lorem ipsum dolor sit amet consectetur</td>
            <td class="table__cell table__cell--value">
              <ui-currency [value]="12999"></ui-currency>
            </td>
          </tr>
        </tbody>

        <tfoot class="table__foot">
          <tr class="table__row">
            <td class="table__cell"></td>
            <td class="table__cell">Total</td>
            <td class="table__cell table__cell--value">
              <ui-currency [value]="12999"></ui-currency>
              <span class="table__balance-status">[LUCRO]</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
