@import "../variables/palette";
@import "../tokens/spacing";

.table {
  width: 100%;

  &__foot,
  &__head {
    font-weight: bold;
  }

  &__balance-status {
    display: block;
    margin-top: spacing(xsmall);
    font-size: 12px;
    font-weight: normal;
    text-align: right;
  }

  &__cell {
    padding: spacing(small);

    &--center {
      text-align: center;
    }

    &--value {
      text-align: right;
      white-space: nowrap;
    }
  }

  &__foot {
    border-top: 6px double palette(ui, 02);
  }

  &__head {
    border-bottom: 2px solid palette(ui, 02);
  }

  &__row {
    & + & {
      border-top: 1px solid palette(ui, 02);
    }
  }
}
